extend layout
block content
  .container
        .jumbotron
          h1 aPure Data
          p ERP - 91App
          form(action="/admin/geterp", method="get", class="form-inline")
            select(type="text", class="form-control mb-2 mr-sm-2 mb-sm-0", name="month")
              option(selected, value="") Month
              option(value="01") January
              option(value="02") February
              option(value="03") March
              option(value="04") April
              option(value="05") May
              option(value="06") June
              option(value="07") July
              option(value="08") August
              option(value="09") September
              option(value="10") October
              option(value="11") November
              option(value="12") December
            select(type="text", class="form-control mb-2 mr-sm-2 mb-sm-0", name="start_date")
              option(selected, value="") From
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
              option(value="6") 6
              option(value="7") 7
              option(value="8") 8
              option(value="9") 9
              option(value="10") 10
              option(value="11") 11
              option(value="12") 12
              option(value="13") 13
              option(value="14") 14
              option(value="15") 15
              option(value="16") 16
              option(value="17") 17
              option(value="18") 18
              option(value="19") 19
              option(value="20") 20
              option(value="21") 21
              option(value="22") 22
              option(value="23") 23
              option(value="24") 24
              option(value="25") 25
              option(value="26") 26
              option(value="27") 27
              option(value="28") 28
              option(value="29") 29
              option(value="30") 30
              option(value="31") 31
            select(type="text", class="form-control mb-2 mr-sm-2 mb-sm-0", name="end_date")
              option(selected, value="") To
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
              option(value="6") 6
              option(value="7") 7
              option(value="8") 8
              option(value="9") 9
              option(value="10") 10
              option(value="11") 11
              option(value="12") 12
              option(value="13") 13
              option(value="14") 14
              option(value="15") 15
              option(value="16") 16
              option(value="17") 17
              option(value="18") 18
              option(value="19") 19
              option(value="20") 20
              option(value="21") 21
              option(value="22") 22
              option(value="23") 23
              option(value="24") 24
              option(value="25") 25
              option(value="26") 26
              option(value="27") 27
              option(value="28") 28
              option(value="29") 29
              option(value="30") 30
              option(value="31") 31
            select(type="text", class="form-control mb-2 mr-sm-2 mb-sm-0", name="num_tabs")
              option(value="")
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
              option(value="6") 6
              option(value="7") 7
              option(value="8") 8
              option(value="9") 9
              option(selected, value="10") 10
            button(type='submit', class='btn btn-primary btn-md') Get ERP data 
