doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/apure.css')
  body
    header
      nav(class='navbar navbar-default')
        .container-fluid
          .navbar-header
            a(class='navbar-brand', href='/admin') aPure System
          ul(class='nav navbar-nav')
            li(class='active')
              a(href='/admin') Home
            li
              a(href='/admin/data') Data
        
    block content
    footer
      p
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='scripts/apure_main.js')