extend layout
block content
  .container
        .jumbotron
          h1 aPure System Referral
          p Send Emails
          a(href='/admin/sendMail') 
            button(type='button', class='btn btn-primary btn-md') Send Email to Amon 
