extends layout

block content
    .container
        div(class="modal fade", id="secondModal", role="dialog")
            .modal-dialog
                .modal-content
                    div(class="modal-header", style="padding:35px 50px;")
                        button(type="button", class="close", data-dismiss="modal") &times;
                        h4 Copy the message below and send to your friends and relatives 
                    div(class="modal-body", style="padding:40px 50px;")
                        .jumbotron
                            p Hey, click #[a(href="#{link}") #{link}] and get an award