extends layout

block content
    .container
        div(class="modal fade", id="thirdModal", role="dialog")
            .modal-dialog
                .modal-content
                    div(class="modal-header", style="padding:35px 50px;")
                        button(type="button", class="close", data-dismiss="modal") &times;
                        h4 Want aPure 20% off ? Let's go 
                    div(class="modal-body", style="padding:40px 50px;")
                        form(role="form", method="post", action="/referral")
                            .form-group
                                label(for="name")
                                    span(class="glyphicon glyphicon-user") Name
                                input(type="text", name="name", class="form-control", id="name", placeholder="Enter name")
                            .form-group
                                label(for="email")
                                    span(class="glyphicon glyphicon-envelope") Email
                                input(type="email", name="email",  class="form-control", id="email", placeholder="Enter email")
                            .form-group
                                label(for="phone")
                                    span(class="glyphicon glyphicon-phone") Phone
                                input(type="tel", name="phone", class="form-control", id="phone" placeholder="Enter phone")
                            .form-group
                                label(for="referral")
                                input(type="hidden", name="referral", value="#{email}")
                            button(type="submit", class="btn btn-success btn-block", id="submit")
                                span(class="glyphicon glyphicon-send") Send