doctype
html
  head
    title Users this day
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    link(rel='stylesheet', href='#{static_files_path}stylesheets/users_this_day.css')
  
  body
    .yesterday
        span Yesterday
        span(class='users_y') #{yesterday_users}
    .today
        span Today from 9am
        span(class='users_t') #{today_users}
    .total
        span Total (not realtime)
        span(class='users_total')

    .graph_numbers_trend
        canvas#myChart
    .stores_ranking
        canvas#myChart_2
    .users_per_hours
        canvas#myChart_3
  script(src='#{static_files_path}socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  script.
    users_numbers ='#{users_numbers}';
    day_dates='#{day_dates}';
    web_url='#{web_url}';
    per_hours_only_ss='#{per_hours_only_sat_sun}';
    per_hours_without_ss='#{per_hours_without_sat_sun}';
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
  script(src='#{static_files_path}scripts/realtime_apure.js')
  script(src='#{static_files_path}scripts/stores_ranking.js')