.yesterday{
  position: absolute;
  width: 30%;
  left: 5%;
  top: 50px;
  text-align: center;
}
.today{
  position: absolute;
  width: 30%;
  left: 35%;
  top: 50px;
  text-align: center;
}
.total{
  position: absolute;
  text-align: center;
  top: 50px;
  right: 5%;
  width: 30%;
}
.users_y, .users_t, .users_total{
    display: block;
    text-align: center;
    font-size: 500%;
}
.graph_numbers_trend, .stores_ranking, .users_per_hours{
  position: relative;
  top: 200px;
  width: 70%;
  left: 15%;
  text-align: center;
}
